body { background-color: #F7F1E3; 
     margin: 0;
     padding: 40px;
     }
h1 { color: #2B1B36; }
p {line-height: 1.6; }
main { max-width: 900px;
      margin: 0 auto;
     }
#hero { padding: 80px; text-align:center; }
#hero h1 { font-size: 60px; margin-bottom: 10px }
#hero p { font-size: 20px; }
